@media (max-width: 600px) {
  .home-page {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }

  .map-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .map-section {
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
    height: 56vh;
    min-height: 312px;
    margin: 0 auto;
  }
  
  .map-container {
    position: relative;
    width: 100% !important;
    height: 50vh !important;
    min-height: 275px;
    min-width: 100% !important;
    max-width: 100% !important;
    border-radius: 12px;
  }
  
  .action-section {
    position: relative;
    bottom: auto;
    margin-top: 5px;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
  }
} 